* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-left: 5px;
  padding-right: 5px;
}

.row {
  display: flex;
  flex-direction: row;

  margin-left: -5px;
  margin-right: -5px;
  margin-top: -10px;
}

.row-wrap {
  flex-wrap: wrap;
}

[class*="col-"] {
  padding-left: 5px;
  padding-right: 5px;

  margin-top: 10px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

.offset-1 {
  margin-left: 8.333333%;
}

.offset-2 {
  margin-left: 16.666667%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.mb-20 {
  margin-bottom: 20px;
}

.text-bold {
  font-weight: bold;
}
