:root {
  --o: #0a97b0;
  --x: #dab8f3;
  --bg: #eddbde;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td {
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: var(--bg);
  border-radius: 10px;
  transform: rotateY(180deg);
  transition: transform 0.3s, color 0.15s 0.15s;
  color: transparent;
  display: table-cell;
  vertical-align: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sidebar {
  position: fixed;
  top: 50vh;
  width: 220px;
  transform: translateY(-50%);
  padding: 12px;
  border-radius: 3px;
  border: 1px solid #00dbff;
  color: #0073fc;
  font-weight: 500;
}

.sidebar.sidebar-left {
  left: 20px;
}

.sidebar.sidebar-right {
  right: 20px;
}

.input-box {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-tag {
  width: 50px;
  margin-left: 4px;
  outline: none;
  text-align: center;
  padding: 4px 0;
  font-size: 16px;
  border-radius: 2px;
  border: 1px solid #7a7672;
}

.btn {
  width: 100%;
  padding: 8px;
  background-color: #00b0ff;
  border-radius: 2px;
  border: 1px solid #00dbff;
  color: #002217;
  font-size: 20px;
  font-style: bold;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
  color: red;
}

.time-count {
  text-align: center;
  color: #ffe11c;
}

.turn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
}

.sidebar.sidebar-right hr {
  margin: 16px 0;
}

.back-forward {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-back,
.btn-forward {
  cursor: pointer;
}

.O {
  background-color: var(--o);
  color: #333333;
}

.O-Win {
  animation: oWinAnimation 1s 10 0.3s;
}

.X {
  background-color: var(--x);
  color: #333333;
}

.X-Win {
  animation: xWinAnimation 1s 10 0.3s;
}

@keyframes oWinAnimation {
  0% {
    background-color: var(--o);
  }
  50% {
    background-color: var(--bg);
  }
  100% {
    background-color: var(--o);
  }
}

@keyframes xWinAnimation {
  0% {
    background-color: var(--x);
  }
  50% {
    background-color: var(--bg);
  }
  100% {
    background-color: var(--x);
  }
}
