.sections-main-heading {
  font-size: 2.5rem;
  font-weight: 700 !important;
  color: #1b5a90;
}

.sections-main-desc {
  font-size: 16px;
  font-weight: 400;
  color: #777777;
}

.sections-sub-heading {
  font-size: 22px;
  font-weight: 700;
  color: #ff5b62;
}

.sections-sub-sub-heading {
  font-size: 20px;
  font-weight: 500;
  color: #212529;
  font-family: "Rajdhani", sans-serif;
}

.sections-sub-desc {
  color: #777;
}
