* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

hr {
  margin: 0;
  padding: 0;
}

/* Utilities class */

.row {
  display: flex;
  flex-direction: row;
  margin-left: -4px;
  margin-right: -4px;
}

.f-wrap {
  flex-wrap: wrap;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.col-1 {
  flex-basis: calc(1 * 100% / 12);
}

.col-2 {
  flex-basis: calc(2 * 100% / 12);
}

.col-3 {
  flex-basis: calc(3 * 100% / 12);
}

.col-4 {
  flex-basis: calc(4 * 100% / 12);
}

.col-5 {
  flex-basis: calc(5 * 100% / 12);
}

.col-6 {
  flex-basis: calc(6 * 100% / 12);
}

.col-7 {
  flex-basis: calc(7 * 100% / 12);
}

.col-8 {
  flex-basis: calc(8 * 100% / 12);
}

.col-9 {
  flex-basis: calc(9 * 100% / 12);
}

.col-10 {
  flex-basis: calc(10 * 100% / 12);
}

.col-11 {
  flex-basis: calc(11 * 100% / 12);
}

.col-12 {
  flex-basis: 100%;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

.j-center {
  justify-content: center;
}

.j-end {
  justify-content: flex-end;
}

.j-between {
  justify-content: space-between;
}

.a-start {
  align-items: flex-start;
}

.a-center {
  align-items: center;
}

.a-end {
  align-items: flex-end;
}

.a-baseline {
  align-items: baseline;
}

.flex-wrap {
  flex-wrap: wrap;
}

.f-grow-1 {
  flex-grow: 1;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

/* Detail class */
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: rgb(36, 36, 36);
  border-bottom: 2px solid rgb(100, 100, 255);
}

.nav-box {
  height: 100%;
  background-color: rgb(36, 36, 36);
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

.nav-item {
  height: 100%;
  width: 100%;
  position: relative;
}

.nav-item:hover {
  background-color: rgb(100, 100, 255);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.nav-link span {
  margin-left: 8px;
  line-height: 100%;
}

.sub-menu {
  background-color: #fff;
  width: 150px;
  display: none;
  box-shadow: 0 0 2px #ccc;
}

.sub-menu ul {
  list-style: none;
  padding: 0;
}

.sub-menu li {
  padding: 0 10px;
  line-height: 60px;
  height: 60px;
  color: rgb(90, 90, 90);
  font-size: 14px;
  /* border-bottom: 1px solid #f0f0f0; */
}

.sub-menu span {
  display: block;
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 60px;
  font-size: 14px;
}

.sub-menu-item {
  position: relative;
}

.sub-menu-item:hover {
  background-color: rgb(100, 100, 255);
  -webkit-transition: background-color 0.3s linear;
  -ms-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  color: #fff;
}

.sub-menu-1 {
  left: 0;
  top: 100%;
}

.nav-item-with-sub:hover .sub-menu-1 {
  display: block;
}

.nav-item-with-sub:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;

  position: absolute;
  left: 20px;
  bottom: 0;
}

.sub-menu-2 {
  left: 100%;
  top: 0;
}

.sub-item-with-sub:hover .sub-menu-2 {
  display: block;
}

.sub-item-with-sub:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;

  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.sub-menu-last {
  left: -150px;
  top: 0;
}

.sub-item-with-sub-last:hover .sub-menu-last {
  display: block;
}

.sub-item-with-sub-last:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #fff;

  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.sub-menu-3 {
  left: 100%;
  top: 0;
}

.sub-item-with-sub-sub:hover .sub-menu-3 {
  display: block;
}

.sub-item-with-sub-sub:hover::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid #fff;

  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

/* Main */

.main {
  margin-top: 60px;
  background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}

/* Heaart */

.heart {
  height: 500px;
}

.square {
  z-index: 0;
  height: 100px;
  width: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  position: relative;
  animation: heartbeat 1s infinite;
}

.cicle-right {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;

  border-radius: 50%;
  top: -50px;
  border: none;
}

.cicle-left {
  height: 100px;
  width: 100px;
  background-color: red;
  position: absolute;

  border-radius: 50%;
  left: -50px;
  border: none;
}

.heart-title {
  transform: rotate(-45deg);
  z-index: 1;
  color: white;
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(0.75);
  }
  20% {
    transform: rotate(45deg) scale(1);
  }
  40% {
    transform: rotate(45deg) scale(0.75);
  }
  60% {
    transform: rotate(45deg) scale(1);
  }
  80% {
    transform: rotate(45deg) scale(0.75);
  }
  100% {
    transform: rotate(45deg) scale(0.75);
  }
}

/* Multi square */

.multi-square {
  height: 500px;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-blue {
  background-color: blue;
}

.bg-pink {
  background-color: pink;
}

.square1,
.square2,
.square3,
.square4 {
  width: 100px;
  height: 100px;
}

.square2,
.square3,
.square4 {
  top: 50px;
  left: 50px;
}

.square1 {
  animation: moveShape 4s infinite;
}

@keyframes moveShape {
  0% {
    margin-left: 350px;
    margin-top: 10px;
  }
  25% {
    margin-left: 600px;
    margin-top: 10px;
  }
  50% {
    margin-left: 600px;
    margin-top: 240px;
  }
  75% {
    margin-left: 350px;
    margin-top: 240px;
  }
  100% {
    margin-left: 350px;
    margin-top: 10px;
  }
}
