* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 20px 0;
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.user-box .fullname {
  margin: 20px;
}

.img-box {
  width: 300px;
  height: 300px;
  overflow: hidden;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

.upload {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  color: #1748ab;
  display: none;
  z-index: 10;
}

#inputTag {
  display: none;
}

.img-box:hover label .upload {
  display: block;
}

.form-group {
  border: solid 1px #0884ff;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
}

.form-field-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-field {
  margin-left: 4px;
  padding: 4px 8px;
  outline: none;
  font-size: 18px;
  border-radius: 3px;
  border: 1px solid #07ddff;
}

.btn {
  margin-top: 10px;
  width: 80px;
  padding: 8px;
  cursor: pointer;
  background-color: #00a9eb;
  border: none;
  border-radius: 4px;
  margin-left: calc(50% - 40px);
  font-weight: 700;
}

.btn:hover {
  opacity: 0.8;
}

.btn-home {
  margin: 0 12px;
}

.control-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.control-page button {
  margin-left: 0;
  width: 100px;
  background-color: #20d7d8;
}
